*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(217, 54%, 11%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 330px;
    background-color: hsl(216, 50%, 16%);
    padding: 0.6rem;
    border-radius: 10px;
}
.card-img{
   text-align: center;
   margin-top: 0.6rem;
   position: relative;
   
}
.card-img > img{
    border-radius: 10px;
}
.description > h1{
    color: hsl(0, 0%, 100%);
    font-family: Outfit;
    font-weight: 400;
    font-size: 1.1rem;
    margin-left: 0.6rem;
    line-height: 2;
}
.description > p{
    font-family: Outfit;
    color: hsl(215, 51%, 70%);
    margin-left: 0.6rem;
    line-height: 1.5;
}
.icons{
    position: relative;
    line-height: 3;
}
.days{
    position: absolute;
    right: 0.6rem;
    color: hsl(215, 51%, 70%);
    font-family: Outfit;
    font-size: 0.8rem;
}
.clck{
    position: absolute;
    right: 4.6rem;
    top: 0.6rem;
}
.eth{
   margin-left: 0.6rem;
}
.price{
    font-family: Outfit;
    font-size: 0.8rem;
    font-weight: 600;
    color: hsl(178, 100%, 50%);
    position: absolute;
    margin-left: 0.4rem;
}
hr{
    border: 1px solid hsl(215, 32%, 27%);
    border-bottom: none;
    width: 95%;
    margin: 0 auto;
}
.profile{
    position: relative;
    padding: 1.25rem;
}
.pfp{
    width: 2.06rem;
    border: 1px solid #fff;
    border-radius: 100%;
    margin-left: -0.6rem;
}
.profile > p{
    font-family: Outfit;
    color: hsl(215, 32%, 27%);
    position: absolute;
    left: 3.4rem;
    top: 1.56rem;
    font-size: 0.9rem;
}
.author{
    color: #fff;
    font-weight: 400;
    font-size: 0.9rem;
}
h1:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
.author:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

